.body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* max-width: 1264px;
  height: 80%;
  width: 80%; */
}

.App {
  text-align: center;
}

.App-logo {
  width: 190px;
}

/* .App-header {
  display: flex;
  justify-content: flex-start;
  background-color: white;
  border: black solid;
  color: black;
  padding: 30px;
} */

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  border: 2px solid #958984;
  padding: 1em;
}

.search-container {
  margin-top: 0.4em;
}

.search-input {
  border-color: #958984;
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
  height: 3em;
  max-width: 30em;
}

.search-input:hover {
  border-color: #117ef2;
}

.submit-button {
  background-color: #117ef2;
  border-color: #07c;
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  color: #fff;
  height: 3em;
  width: 4.2em;
}

.App-title {
  font-size: 1.5em;
}

.left-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 164px;
}

.left-sidebar ul {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: row;
  /* max-width: 1100px; */
  width: calc(100% - 164px);
  background-color: #fff;
  border-radius: 0;
  border: 1px solid #d6d9dc;
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 1px;
  border-right-width: 0;
  /* padding: 24px;
  box-sizing: border-box; */
}

.mainbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  /* max-width: 550px; */
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* margin: 0.5em; */
  /* max-width: 30em; */
  padding: 1em;
}

.ask-question {
  background-color: #0095ff;
  border-color: #07c;
  border-radius: 0.3em;
  color: #fff;
  cursor: pointer;
  margin: 0.8em;
  max-height: 3.5em;
  max-width: 8em;
  padding: 0.8em;
}

.ask-question:hover {
  background-color: #1273f8;
}

.questions-breadcrumbs {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  /* max-width: 30em; */
}

.right-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 2em;
}

/* .Nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-color: #2f4858;
  border-style: solid;
  /* border-width: 2px;
  margin-left: 20%;
  margin-right: 20%; */
/* }

.s-btn-primary {
  border-color: #07c;
  box-shadow: inset 0 1px 0 0 rgba(102, 191, 255, 0.75),
    0 0 0 0 rgba(0, 149, 255, 0);
  color: #fff;
}
.s-btn {
  position: relative;
  padding: 0.8em;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: transparent;
  outline: none;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.15384615;
  text-decoration: none;
  cursor: pointer;
}

.Questions-nav-bar-ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  padding: none;
  margin-right: 2em;
} */
*/ .App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
